.content{
	width: 100%;
	height: calc(100% - 170px);
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.icon{
	font-size: 5em;
	color: #2F2E2E;
}

.warning{
	font-size: 1.6em;
	font-weight: normal;
	text-align: center;
}

.progressImg{
	height: 60%;
	margin-top: 2%;
}

.links{
	color : white;
	font-size: 1.5em;
}

.linkIcon{
	margin-right: 20px;
}