.storyContainer{
	height: 100%;
	width: 100%;
	margin-top: 65px;
    padding-top: 30px;
	background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageSubtitle {
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    margin-bottom: 70px;
}
.storyItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 160px);
    height: 70%;
    padding: 0 80px 0 80px;
}

.storyItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    height: 100%;
}

.storyTitle{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.storyDescription{
    background-color: #A6BFBF;
    padding: 10px;
    width: calc(100% - 20px);
    height: 45%;
}

.storyImage{
    width: 100%;
    margin-bottom: 10px;
}

.storyPageTitle{
    margin-bottom: 20px;
}